.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
  }

#editModal .modal-header{
  background-color: var(--main-cyan);
  color: white;
}

#editModal .modal-header .close_modal_btn{
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../../../assets/blIcons.svg') no-repeat;
  background-size: 260%;
 background-position: -1px 2px;
  cursor: pointer;
}

#editModal fieldset label span{
  position: absolute;
  top: 50%;
  transform: translate(28px, -50%);
  z-index: 0;
  transition: .3s ease;
  color: var(--txt-gray-lighter)!important;
}

#editModal fieldset input:focus + span,
#editModal fieldset input.ng-valid + span
{
    transform: translate(18px, -140%) scale(0.80);
}

#editModal button:not([disabled]){
  cursor: pointer;
}

#editModal button{  
  border-radius:5rem;
  margin:0 5px;
  border-color: var(--main-cyan);
  background-color: transparent;
  color: var(--main-cyan);
}

#editModal button.btn-primary{
  background-color: var(--main-cyan);
  color: white;
}
